# `03_data_load`

## CSV Load & Save

In [4]:
# 파이썬으로 파일 불러오는 법
with open('./namsan.csv', encoding='EUC KR') as f:
    print(f.readline())
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb9 in position 0: invalid start byte
# 원래 이렇게 인코딩 오류가 나는 게 기본임.

번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,

In [10]:
# pandas로 csv -> dataframe으로 불러오기.
import pandas as pd

# 인코딩은 파일 불러올 떄 매우 중요함
df = pd.read_csv('./namsan.csv', encoding='EUC KR', low_memory=False)
df = pd.read_csv('./namsan.csv', encoding='EUC KR', dtype={
    'ISBN': str,
    '세트 ISBN': str,
    '주제분류변호': str
})

/var/folders/tx/t7px7cn503bgk6zlg3m0b4740000gn/T/ipykernel_8454/412255860.py:6: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./namsan.csv', encoding='EUC KR', dtype={

In [11]:
df.dtypes

번호               int64
도서명             object
저자              object
출판사             object
발행년도            object
ISBN            object
세트 ISBN         object
부가기호            object
권               object
주제분류번호          object
도서권수             int64
대출건수             int64
등록일자            object
Unnamed: 13    float64
dtype: object

In [12]:
df.describe()
# (이 파일은 아닌데) 일부 csv 파일에 column이 없는 경우가 있음.
# 그럴 때는 헤더를 지정해줘야 함.

# unnamed?: csv 마지막에 column이 있어서 그럼

                  번호           도서권수           대출건수  Unnamed: 13
count  455556.000000  455556.000000  455556.000000          0.0
mean   227778.500000       1.127306      11.883617          NaN
std    131507.833953       0.455262      18.157195          NaN
min         1.000000       1.000000       0.000000          NaN
25%    113889.750000       1.000000       2.000000          NaN
50%    227778.500000       1.000000       6.000000          NaN
75%    341667.250000       1.000000      15.000000          NaN
max    455556.000000      40.000000    1909.000000          NaN

In [16]:
df.to_csv('./test.csv', encoding='utf-8', index=False)
# 이렇게 하면 index를 csv내에 같이 저장함.

# Web API Load

In [ ]:
# Data Parsing (Parse) -> 해석 [json -> dict]
json_data = '{"a":1, "b":2}'
# json의 키값은 언제나 쌍따옴표여야 함.

# json_data는 아직 doc로 파싱(해석/분석)되지 않았음.
# json_data['a'] # Error

import json
dict_data = json.loads(json_data)

print(type(json_data), type(dict_data))

<class 'str'> <class 'dict'>

In [24]:
# Data Serializing -> 직렬화 [dict -> json]
dict_data = {'a': 1,'b': 2}

import json
json_data = json.dumps(dict_data)

In [ ]:
# 인증키 : 	16ac69fd8f3ba2027af67b42bdc846e7dad464164277e2be8ea0ccdc456fe2f3