# 컨테이너(Container)

여러 개의 값을 저장할 수 있는 것(객체)을 의미하며, `서로 다른 자료형`을 저장 할 수 있습니다.

### 컨테이너 분류
- 시퀀스(Sequence)형 : 순서가 있는(ordered) 데이터
- 비 시퀀스(Non-sequence)형 : 순서가 없는(unordered) 데이터

<img width="712" alt="container" src="https://user-images.githubusercontent.com/45934087/148164052-3b12d3a2-a95e-4d4d-ae25-86ca1ba9657b.png">

## 시퀀스(sequence)형 컨테이너

`시퀀스`는 데이터가 순서대로 나열된(ordered) 형식을 나타냅니다.

* **주의! 순서대로 나열된 것이 `정렬되었다(sorted)`라는 뜻은 아닙니다.**

### 특징
1. 순서가 있습니다.

2. **특정 위치의 데이터를 가리킬 수 있습니다.**

### 종류
파이썬에서 기본적인 시퀀스 타입은 다음과 같습니다.

* 리스트(list)

* 튜플(tuple)

* 레인지(range)

* *문자형(string)*

* *바이너리(binary)* : 다루지 않습니다.


### 리스트 (List)

<center><img src="https://user-images.githubusercontent.com/18046097/61180421-fe90ae80-a650-11e9-8211-d06f87756d05.png", alt="list figure"/></center>

**생성과 접근**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 및 `list()` 를 통해 만들 수 있습니다.

In [4]:
# 빈 list를 만들어봅시다.
# 변수명 my_list인 list를 대괄호로 만들어봅시다.
# 변수명 another_list인 list를 list()로 만들어 봅시다.
# 두 변수의 타입을 출력해 봅시다.

l1 = []                             # 얘는 list 만들 때
l2 = list()                         # 얘는 list로 바꿀 때.
l_m = [l1, l2, type(l1), type(l2)]  # list엔 list를 담을 수 있다.
print(l1, l2, type(l1), type(l2), l_m, type(l_m))

[] [] <class 'list'> <class 'list'> [[], [], <class 'list'>, <class 'list'>] <class 'list'>

In [5]:
# 원소를 포함한 list를 만들어 봅시다.
# 변수명이 location인 list에 동네 5곳을 넣어봅시다
# 변수 location을 출력해 봅시다.
# location의 타입을 출력해 봅시다.

locations = ['반포', '마포', '동탄', '상암', '교대']     # location은 틀린 닉네임이다. 변수가 리스트면 이름은 복수로 해라.

In [8]:
# location의 첫번째 값을 인덱스로 접근해 봅시다.
locations[0]
# 파이썬의 index는 SQL이랑 전혀 다름.

'반포'


순서가 있는 시퀀스로 인덱스를 통해 접근 가능합니다.
- 값에 대한 접근은 `list[i]` 방식으로 접근합니다.

![image](https://user-images.githubusercontent.com/45934087/148164331-f0ff4193-6b05-4d99-bbde-dd1eef13b0b1.png)

In [9]:
# 변수 boxes에 문자열 'A', 'B', 리스트 ['apple', 'banana', 'cherry']를 할당합니다.
boxes = ['A', 'B', ['apple', 'banana', 'cherry']]

In [10]:
# boxes의 길이를 len 함수를 이용하여 출력해 봅시다.
len(boxes)

3

In [11]:
# boxes의 3번째 요소를 인덱스로 접근하여 출력해 봅시다.
boxes[2]

['apple', 'banana', 'cherry']

In [12]:
# boxes의 3번째 요소들 중, 마지막 요소를 negative index로 접근하여 출력해 봅시다.
boxes[2][-1]
# 코딩은 한 번에 할 게 아니라, 단계별로 분절해서 생각하기(굉장히 열내서 말씀하시네)

'cherry'

In [16]:
# boxes의 마지막 요소들 중, 두번째 요소의 첫번째 문자열을 출력해 봅시다.
boxes[len(boxes) - 1][1][0]

'b'

### 튜플 (Tuple)

**생성과 접근**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

- tuple은 수정 불가능(불변, immutable)합니다.

- 직접 사용하기 보다는 파이썬 내부에서 다양한 용도로 활용되고 있습니다.

In [18]:
# tuple을 만들어봅시다.
# 변수명이 my_tuple인 tuple을 만들어 봅시다. 단, 무작위 정수 2개를 포함하여 만듭니다.
# my_tuple의 타입을 출력해 봅시다.

my_tuple = (100, 150)
print(my_tuple, type(my_tuple))

(100, 150) <class 'tuple'>

In [ ]:
# 아래와 같은 방식으로도 만들 수 있습니다.
tuple()

**튜플 생성 주의 사항**
- 단일 항목의 경우

In [20]:
# 하나의 항목으로 구성된 튜플은 생성 시 값 뒤에 쉼표를 붙여야 합니다.
# 아래 코드를 실행하여 변수 a의 타입을 확인해 봅시다.
not_tpl = (10)
yes_tpl = (10,)
print(not_tpl, yes_tpl, type(not_tpl), type(yes_tpl,))

10 (10,) <class 'int'> <class 'tuple'>

In [ ]:
# 변수명이 single_tuple인 하나의 요소(값)로 구성된 tuple을 만들어 봅시다. (길이가 1)
# 하나의 요소(값)로 구성된 tuple은 값 뒤에 쉼표를 붙여서 만듭니다.
# single_tuple의 타입을 출력해 봅시다.
# single_tuple의 길이를 출력해 봅시다.

In [ ]:
# 길이가 1인 tuple을 만들 때 쉼표가 없는 경우 어떻게 되는지 확인 해봅시다.

- 복수 항목의 경우

In [21]:
# 마지막 항목에 붙은 쉼표는 생략 할 수 있습니다.
# 아래 코드를 실행하여 변수 b와 c의 타입을 확인해 봅시다.
b = (1,2)
c = (1,2,)
b == c #tuple은 뒤에 콤마 찍음.

True

**튜플 대입**
- 우변의 값을 좌변의 변수에 한번에 할당하는 과정을 의미합니다.
- 튜플은 일반적으로 파이썬 내부에서 활용됩니다.
    - 추후 함수 파트에서 복수의 값을 반환하는 경우에도 확인할 수 있습니다.

In [23]:
# 파이썬 내부에서는 다음과 같이 활용됩니다. (변수 및 자료형 예제에서 사용된 코드입니다.)
1, 2

(1, 2)

In [24]:
x = 1, 2
print(x, type(x))

(1, 2) <class 'tuple'>

In [ ]:
# 실제로는 tuple로 처리됩니다.

In [28]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.
(x, y) = (1, 2)
type(x), type(y) # 이것도 지맘대로 tuple처리.
# tuple 처리의 핵심은 콤마.

(int, int)

In [30]:
# 변수명이 empty인 빈 tuple을 만들어 봅시다.
# 빈 tuple은 빈 괄호 쌍으로 만들어집니다.
# empty의 타입을 출력해 봅시다.
# empty의 길이를 출력해 봅시다.
empty = ()
type(empty), len(empty) # 빈 거는 하나로 안 쳐주네.

(tuple, 0)

### 레인지 (range())

`range` 는 정수의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)`


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)`

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [34]:
# range를 만들어봅시다.
# 0부터 2까지 값을 가지는 range를 만들고 타입을 출력해 봅시다.
range(3)

range(0, 3)

In [35]:
# 0부터 9까지 값을 가지는 range를 만들고 list로 형 변환을 해 봅시다.
# 작성한 range를 list()로 감싸 형 변환 할 수 있습니다.
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
# 4부터 8까지의 숫자를 담은 range를 만들고 list로 형 변환을 해 봅시다.
list(range(4,9)) # 앞에는 포함. 뒤는 안 포함.

[4, 5, 6, 7, 8]

In [39]:
# range(start, end, [step, ])을 활용합니다.
# 0부터 -9까지 담긴 range를 만들고 list로 형 변환을 해 봅시다.
# 출력 결과는 다음과 같습니다.
# [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [46]:
range(10)
range(0, 10)
range(0, 10, 1)
# 모두 같다~
list(range(-10, -1)) # 얘는 1번 2번만 있다고 판단된거구나.
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [85]:
list(range(0, -10, 1)) # 얘가 안 된다는 걸 기억해

[]

In [99]:
list(range(0, -1, -1))
# list(range(0, 1, 10))
# list(range(0, 1, 1))

[0]

In [74]:
howto = list(range(10))
chi = range(1, 100, len(howto))
shi = list(chi)
shi[len(howto)-3] = 'drawing'
list(shi)

[1, 11, 21, 31, 41, 51, 61, 'drawing', 81, 91]

In [80]:
x = [1, 'gae', 'sae', [1, 3, 5]]
x[2:len(x)-1] = 'wtf'
x

[1, 'gae', 'w', 't', 'f', [1, 3, 5]]

In [84]:
x[3] = 'wtf'
x

[1, 'gae', 'w', 'wtf', 'f', [1, 3, 5]]

### 패킹 / 언패킹 연산자 (Packing / Unpacking Operator)
모든 시퀀스형(리스트, 튜플 등)은 패킹/언패킹 연산자 * 를 사용하여 객체의 패킹 또는 언패킹이 가능합니다.
```python
x, *y = i, j, k ...
```

**패킹**
- 대입문의 좌변 변수에 위치합니다.
- 우변의 객체 수가 좌변의 변수 수보다 많을 경우 객체를 순서대로 대입합니다.
- 나머지 항목들은 모두 별 기호 표시된 변수에 리스트로 대입합니다.

In [48]:
# x 를 패킹을 통해 저장해 봅시다.
x, y = [1, 2]
type(x), type(y)

(int, int)

In [50]:
x, *y = [1, 2, 3] # 오오오오옹.
list(y)
# * 붙은 건 항상 마지막에 와야 함.
# 맨앞은 되긴 하는데 그래도 하지 말어라...

[2, 3]

**언패킹**
- argument 이름이 *로 시작하는 경우, argument unpacking이라고 부릅니다.
- 패킹의 경우, 리스트로 대입합니다.

In [ ]:
def multiply(x, y, z):
    return x * y * z

- 언패킹의 경우, 튜플 형태로 대입합니다.

In [ ]:
numbers = [1, 2, 3]
multiply(numbers)  # multiply([1, 2, 3])
multiply(*numbers)  # multiply(1, 2, 3)

**패킹/언패킹 연산자 주의사항**

` * ` 연산자가 곱셈을 의미하는지 패킹/언패킹 연산자인지 구분하여야 합니다.
- 패킹/언패킹 연산자의 경우
    1. 연산자가 대입식의 좌측에 위치하는 경우
    2. 연산자가 단항 연산자로 사용되는 경우
        - 단항 연산자 : 하나의 항을 대상으로 연산이 이루어지는 연산자
        
        
- 산술연산자의 경우
    1. 연산자가 이항연산자로 사용되는 경우
        - 이항 연산자 : 두 개의 항을 대상으로 연산이 이루어지는 연산자

## 비 시퀀스형(Non-sequence) 컨테이너

- 세트(set)

- 딕셔너리(dictionary)

### 세트 (Set)

`set`은 순서가 없고 중복된 값이 없는 자료구조입니다.

* `set`은 수학에서의 집합과 동일하게 처리됩니다.

* `set`은 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없습니다.

* 담고있는 객체를 삽입 변경, 삭제 가능 (mutable) 합니다.

* 빈 세트를 만들려면 `set()`을 사용해야 합니다. (`{}`로 사용 불가능)

* 활용 가능한 연산자는 차집합(`-`), 합집합(`|`), 교집합(`&`)입니다.

**생성과 접근**
```python
{value1, value2, value3}
```

In [114]:
# set 두개를 만들어서 연산자들을 활용해봅시다.
s1 = {3, 1, 2, 3, 1}
s2 = {3, 4, 5}
type(s1), type(s2), s1, s2

(set, set, {1, 2, 3}, {3, 4, 5})

* 차집합은 연산자 `-`를 사용합니다.

In [113]:
# set_a와 set_b의 차집합을 구해봅시다.
s1 - s2

{1, 2}

* 합집합은 연산자 `|`를 사용합니다.

In [115]:
# set_a와 set_b의 합집합을 구해봅시다.

s1 | s2

{1, 2, 3, 4, 5}

* 교집합은 연산자 `&`을 사용합니다.

In [116]:
# set_a와 set_b의 교집합을 구해봅시다.
s1 & s2

{3}

In [ ]:
# set은 중복된 값이 있을 수 없습니다.

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.
* 단, `set`으로 변환하는 순간 순서를 보장할 수 없습니다.

In [119]:
# set으로 중복된 값을 제거해봅시다.
# 문자열 서울, 서울, 대전, 광주, 서울, 대전, 부산, 부산를 원소로 가지는 set를 만듭니다.
# 생성한 세트의 길이를 출력해 봅시다.

locations = ['서울', '서울', '대전', '광주', '서울', '대전', '부산', '부산']
locations = list(set(locations)) # 코딩의 구조를 기억하자...(졸려...)
locations

['부산', '대전', '광주', '서울']

In [ ]:
# 생성한 세트를 출력해 봅시다.
# 세트는 순서를 보장하지 않습니다.

### 딕셔너리 (dictionary)

`dictionary`는 `key`와 `value`가 쌍으로 이뤄져있습니다.


<center><img src="https://user-images.githubusercontent.com/18046097/61180427-1405d880-a651-11e9-94e1-1cc5c2a2ff34.png"></center>

**생성과 접근**

```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* `{}`를 통해 만들며, `dict()`로 만들 수 있습니다.
* 순서를 보장하지 않습니다.
* `key`는 **변경 불가능(immutable)한 데이터**만 가능합니다. (immutable : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능합니다.

In [124]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.
# {}와 dict()로 만들 수 있습니다.
# 두 변수의 타입을 출력해 봅시다.
dic_test = {} # set이랑 헷갈리지 말자. dict는 거의 다 이걸 쓴다.
type(dic_test)

dict

In [125]:
hb_set = {}
type(hb_set)

dict

In [133]:
# dictionary에 중복된 key는 존재할 수 없습니다.

d1 = {'a': 1, 'b': 2, 'a': 3}
d1

{'a': 3, 'b': 2}

In [147]:
# 지역번호가 담긴 전화번호부를 만들어봅시다.
# 변수 phone_book에 key를 지역명, value를 지역번호로 가지는 원소를 작성합니다.
# 예) 서울 - 02
pb = {
    '서울' : '02',
    '경기도': '031',
    '인천': '032', # 쉼표 써도 됨.
}
pb['서울']

'02'

In [148]:
# 위에서 작성한 phone_book이 가지고 있는 key 목록을 확인 해 봅시다.
# dictionary의 .keys() 메소드를 활용하여 key를 확인 해볼 수 있습니다.
pb.keys()

dict_keys(['서울', '경기도', '인천'])

In [149]:
# 위에서 작성한 phone_book이 가지고 있는 value 목록을 확인 해 봅시다.
# 딕셔너리의 .values() 메소드를 활용하여 value를 확인 해볼 수 있습니다.

pb.values()

dict_values(['02', '031', '032'])

In [159]:
# 위에서 작성한 phone_book이 가지고 있는 key와 value 목록을 확인 해 봅시다.
# 딕셔너리의 .items() 메소드를 활용하여 key, value를 확인 해볼 수 있습니다.

"""
함수 중에 print()처럼 혼자 쓰는 게 있고
.keys()처럼 어디에 붙여서 쓰는 애들이 있음.
그런 친구들이 매서드."""
pb.items()
# 엣. items()는 알아서 tuple로 만들어주네~?~?~?

dict_items([('서울', '02'), ('경기도', '031'), ('인천', '032')])

In [162]:
len(list(pb.items()))

3

# 형변환(Type conversion, Typecasting)

파이썬에서 데이터타입은 서로 변환할 수 있습니다.

- 암시적 형변환
- 명시적 형변환

## 컨테이너형 형변환

파이썬에서 컨테이너는 서로 변환할 수 있습니다.

<img width="708" alt="typecasting" src="https://user-images.githubusercontent.com/18046097/61180466-a6a67780-a651-11e9-8c0a-adb9e1ee04de.png">

In [ ]:
# 하나의 결과를 확인 한 후, 주석 `#` 을 활용하여 이전의 코드를 비활성화 합니다.
# 형변환 후의 결과를 확인 합니다.

In [171]:
# list를 형변환 해봅시다.
l = [1,2,3]
# str(l)
# tuple(l)
# range
# set(l)
# dict(l)

In [185]:
# tuple을 형변환 해봅시다.
t = (1,2,3,)
# t
# # len(str(t))
# tt = list(t)
# tt[0]=3
# t, tt
# st = set(t)
# t[0]
# dict(t)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [201]:
# range를 형변환 해봅시다.
r = range(10, -5, -3)
# list(r)
# len(str(r))
tuple(r)
set(r)
lsr = list(set(r))
lsr
# lsr[0]
dict(r)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [213]:
# set을 형변환 해봅시다.
s = {1,2,3,}
s
len(str(s))
list(s)
len(s) #순서는 없지만 길이는 있네.
list(s)[len(s)-2]

2

In [218]:
s = {1,2,3,3,4,5,}
newlist = [s, 's', 105, len(s)]
newlist

[{1, 2, 3, 4, 5}, 's', 105, 5]

In [219]:
s = {1,2,3,3,4,5,}
new_set = {s, 's', 105, len(s)}
new_set
# immutable해야 hashable하다.
# immutable이 할 수 있는 일 : (1) set에 들어가기, (2) dict의 key되기.

TypeError: unhashable type: 'set'

In [224]:
# dictionary를 형변환 해봅시다.
n = range(1, 6)
d = {n[0]:'아구몬', n[1]:'papimon', n[2]:'piyomon'}
d

{1: '아구몬', 2: 'papimon', 3: 'piyomon'}

In [232]:
list_a1 = [1, 2, 3, 4, 5,]
list_a1[1:1:1] = 'jiral'
list_a1

[1, 'j', 'i', 'r', 'a', 'l', 2, 3, 4, 5]

In [234]:
"""
매우 이상한 거 한 가지
"""
l1 = [1, 2, 3]
l2 = l1
l1[0] = 100
                # l2는 안 바뀌었지만
print(l1, l2)   # 바뀐 결과가 나왔다.
# 이는 l2가 l1의 주소를 참고했기 때문.

[100, 2, 3] [100, 2, 3]

In [235]:
l1 = [1, 2, 3]
l2 = l1     # 얘는 같은 주소고
l3 = l1[:]  # 얘는 카피임. 주소가 다름

In [ ]:
l1 = [[1, 2], [3,4]] # 이렇게 하면 어떨까?
l2 = l1     # 얘는 당연히 같은 주소고
l3 = l1[:]  # 얘는 카피는 맞는데, 내부 요소의 주소는 레퍼런싱함. ㄷㄷ
l4 = deepcopy(l1) # is the 진짜 카피...

# 정리
## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>

## 시퀀스형 연산자(Sqeuence Type Operator)

### 산술 연산자 (+)
시퀀스를 연결(concatenation)할 수 있습니다.

In [ ]:
# 두 list [1, 2] 와 ['a'] 를 + 를 이용하여 합쳐봅시다.

In [100]:
[1, 2] + ['a']

[1, 2, 'a']

In [ ]:
# 두 튜플 (1, 2) 와 ('a',) 를 + 를 이용하여 합쳐봅시다.

In [102]:
(1, 2) + ('a',)

(1, 2, 'a')

In [ ]:
# range에는 사용할 수 없습니다.
# range(1), range(2, 5) 를 + 를 이용하여 합치고자 할 때 발생하는 오류를 확인해 봅시다.

In [ ]:
range(1) + range(2,3)

In [ ]:
# 두 문자열 '12' 와 'a' 를 + 를 이용하여 합쳐봅시다.

In [104]:
'12' + 'ㅁ'

'12ㅁ'

### 반복 연산자 (*)
시퀀스를 반복할 수 있습니다.

In [ ]:
# 리스트 [0] 을 *을 이용해 8번 반복해봅시다.

In [105]:
[0] * 8

[0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# 튜플 (1, 2) 를 * 을 활용해 3번 반복해봅시다.

In [106]:
'hi' * 6

'hihihihihihi'

In [ ]:
# range에는 사용할 수 없습니다.
# range(1) 을 * 연산자로 3번 반복하려고 할 때 발생하는 오류를 확인해 봅시다.

In [ ]:
# 문자열 'hi' 를 * 을 활용해 3번 반복해봅시다.

## 기타 : 인덱싱/슬라이싱 (Indexing/Slicing)
`[]`를 통한 값을 접근하고, `[:]`을 통해 슬라이싱할 수 있습니다. (data structure 챕터에서 자세하게 학습합니다.)

### 인덱싱
시퀀스의 특정 인덱스 값에 접근 할 수 있습니다.
- 해당 인덱스가 없는 경우 IndexError가 발생합니다.

In [ ]:
# 리스트를 인덱싱을 통해 값에 접근해봅시다.
# 리스트 [1, 2, 3]의 세번째 값을 인덱싱으로 확인해봅시다.

In [ ]:
# 튜플을 인덱싱을 통해 값에 접근해봅시다.
# 튜플 (1, 2, 3)의 첫번째 값을 인덱싱으로 확인해봅시다.

In [ ]:
# range를 인덱싱을 통해 값에 접근해봅시다.
# range(3)의 세번째 값을 인덱싱으로 확인해봅시다.

In [ ]:
# 문자열을 인덱싱을 통해 값에 접근해봅시다.
# 문자열 'abc'의 첫번째 값을 인덱싱으로 확인해봅시다.

In [ ]:
# 찾고자 하는 인덱스가 존재하지 않을때 오류가 발생합니다.
# 문자열 apple의 100번째 값을 인덱싱으로 확인하고자 할 때 발생하는 오류를 확인해봅시다.

### 슬라이싱
- Sequence[start:end[:step]]

시퀀스를 특정 단위로 슬라이싱 할 수 있습니다.

In [107]:
# 아래 코드들을 실행한 결과를 확인하여 슬라이싱의 작동 원리를 파악해봅시다.
print([1, 2, 3, 4][1:4])    # 시작인덱스 <= < 끝나는 인덱스
print((1, 2, 3)[:2])
print(range(10)[5:8])
print('abcd'[2:4])  # slice 마지막 인덱스가 더 크더라도, 에러가 발생하지 않는다.
010-1234-1-

[2, 3, 4]
(1, 2)
range(5, 8)
cd

시퀀스를 `k` 간격으로 슬라이싱 할 수 있습니다.

In [ ]:
# 아래 코드들을 실행한 결과를 확인하여 슬라이싱의 작동 원리를 파악해봅시다.
# 문자열, 튜플, 레인지에서 모두 동일하게 동작합니다.

In [ ]:
# 아래의 코드를 실행하여 결과를 확인해 봅시다.
s = 'abcdefghi'

In [ ]:
print(s[:3])
print(s[5:])
print(s[::])
print(s[::-1]) # 문자 뒤집을 때 쓰는 것.

# 정리

## 변수(Variable)와 자료형(Data Type)

<center><img width=800 height=400 src="https://user-images.githubusercontent.com/9452521/87640197-55a7f280-c781-11ea-9cff-19c022ce704a.png", alt="variable"/></center>

## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>

## 함수 (Function)
- 특정 명령을 수행하는 함수 묶음을 말합니다.

In [ ]:
def multiply(x, y, z):
    return x * y * z


multiply(5, 6, 3)

## 모듈 (Module)
- 함수 / 클래스의 모음 또는 하나의 프로그램을 구성하는 단위를 의미합니다.

## 패키지 (Package)
- 프로그램과 모듈의 묶음을 의미합니다.
    - 프로그램 : 실행하기 위한 것
    - 모듈 : 다른 프로그램에서 불러와 사용하기 위한 것
![module](https://user-images.githubusercontent.com/45934087/148158664-3798bd68-a9fa-4c21-be01-874bada7c11c.png)

## 라이브러리 (Library)
- 패키지의 모음을 의미합니다.
![Library](https://user-images.githubusercontent.com/45934087/148158810-466f417d-f950-4ac0-abcb-321e0577d043.png)